*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    max-width:480px;
    height: 100%;
    max-width: 450px;
    /* border: 1px solid; */
    padding: 0.5rem 0;
    margin: auto;
    background: #eee;
    overflow:hidden;
    position:relative;
  }

body {
    width: 100%;
    height: 100%;
  }
 .map{
    display: flex;
    width: 280px;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
  }